* {
	border: none;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
	background: #f6f7fa;
}

main {
	background: #eff1fa;
	display: flex;
	padding: 30px;
	width: 1200px;
	margin: 40px auto 0 auto;
	border-radius: 10px;
}

.header {
	display: flex;
	justify-content: space-between;
}

.logoSection {
	display: inline-block;
	width: 70%;
}

.logoContainer {
	width: 50%;
}

.linkDarkMode {
	width: 50%;
	display: flex;
	align-items: center;
	flex-direction: row;
	align-content: space-between;
	justify-content: flex-end;
}

.gitHubIcon {
	cursor: pointer;
	margin-right: 20px;
	font-size: 3em;
}

.gitHubIcon i {
	color: #000000;
}

.linkedInIcon {
	cursor: pointer;
	margin-right: 20px;
	font-size: 3em;
}

.linkedInIcon i {
	color: #0a66c2;
}

.buttonDark {
	margin-right: 70px;
	background: #343d5b;
	border-radius: 1000px;
	border: none;
	position: relative;
	cursor: pointer;
	display: flex;
	outline: none;
}

.buttonDark::after {
	content: "";
	display: block;
	width: 30px;
	height: 32px;
	position: absolute;
	background: #ffffff;
	top: 0;
	left: 0;
	right: unset;
	border-radius: 100px;
	transition: 0.3s ease all;
	box-shadow: 0px 0px 2px 2px #00000033;
}

.darkMode .buttonDark {
	background: #ffa500;
	color: #000000;
}

.darkMode .buttonDark::after {
	right: 0;
	left: unset;
}

.buttonDark span {
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: block;
	background: none;
	color: #d8dfe8;
}

.textAreaContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#textArea {
	width: 640px;
	height: 500px;
	font-size: 3em;
	margin: 40px 0 40px 0;
	padding: 30px;
	background-color: #ffffff;
	color: #0a3871;
	border-radius: 10px;
}

.textAreaWarningSign {
	padding: 0 8px;
	border-radius: 50%;
	color: #ffffff;
	background: #495057;
}

.textAreaWarning {
	width: 100%;
	color: #495057;
	display: flex;
	margin: 0 0 10px 0;
	justify-content: center;
	font-weight: bold;
}

#textArea::placeholder {
	color: #0a3871;
}

.buttonsContent {
	display: flex;
	justify-content: center;
}

#buttonEncrypter,
#buttonDesencrypter,
#buttonCopy,
#buttonReset {
	font-weight: bold;
	border-radius: 15px;
	box-shadow: 0px 5px 5px#797979;
	cursor: pointer;
	transition: 1s transform;
	font-size: 16px;
}

#buttonEncrypter {
	padding: 2% 12%;
	color: #ffffff;
	background: #0a3871;
	margin-right: 15px;
}

#buttonDesencrypter {
	padding: 2% 12%;
	color: #0a3871;
	background: #d8dfe8;
	margin-left: 15px;
}

#buttonEncrypter:hover,
#buttonDesencrypter:hover,
#buttonCopy:hover,
#buttonReset:hover {
	transform: scale(1.1);
}

.viewerSection {
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	align-content: space-between;
	background-color: #ffffff;
	border-radius: 20px;
}

.encryptEmptyMessage {
	margin: 30px 0 0 0;
	text-align: center;
	font-family: "Satoshi";
}

.encryptEmptyMessage h2 {
	font-size: 25px;
	font-weight: bold;
}

.encryptEmptyMessage p {
	padding: 0 20px;
	font-size: 20px;
	margin: 20px 0 0 0;
	color: #495057;
}

.encrypterResult {
	width: 80%;
	padding: 30px;
}

.encrypterText {
	width: 100%;
	color: #495057;
	font-size: 20px;
	height: 580px;
}

.buttonContainer {
	display: block;
	margin-top: 20px;
	justify-content: center;
}

#buttonCopy {
	padding: 4% 40%;
	color: #ffffff;
	background: #0c458a;
}

#buttonReset {
	margin-top: 10px;
	padding: 4% 41%;
	color: #0a3871;
	background: #d8dfe8;
}

footer {
	display: flex;
	justify-content: center;
	font-size: 20px;
	background: #eff1fa;
	width: 1200px;
	margin: 10px auto 0 auto;
	padding: 10px 30px;
	border-radius: 10px;
	font-weight: lighter;
	opacity: 0.3;
}

@media screen and (max-width: 912px) {
	main,
	footer {
		width: auto;
	}

	main {
		margin: 0;
		padding: 20px 20px;
		display: block;
	}

	.logoSection,
	.logoContent {
		width: 100%;
		height: auto;
		margin: 0;
	}

	.logoContent {
		max-width: 30%;
	}

	#textArea {
		border: 1px solid #000000;
		font-size: 2em;
		width: 100%;
		height: 300px;
		padding: 0;
		margin: 40px 0 10px 0;
		padding: 10px;
	}

	.textAreaWarning {
		width: 100%;
		margin: 0 0 30px 0;
		text-align: center;
	}

	.textAreaWarningSign {
		height: 1%;
	}

	.buttonsContent {
		display: block;
	}

	#buttonEncrypter,
	#buttonDesencrypter {
		padding: 4% 40%;
		margin: 0;
		width: 100%;
		margin-bottom: 20px;
	}

	.viewerSection {
		width: 100%;
		padding: 30px 0;
	}

	.encryptImage {
		display: flex;
		justify-content: center;
	}

	.encrypterText {
		height: auto;
	}

	.buttonContainer {
		margin-top: 30px;
	}

	#buttonCopy {
		margin: 0;
		width: 100%;
	}

	footer {
		text-align: justify;
		text-align: center;
	}
}

@media (min-width: 768px) and (max-width: 999px) {
	.buttonsContent {
		display: flex;
		justify-content: space-around;
	}

	#buttonEncrypter,
	#buttonDesencrypter {
		padding: 2% 15%;
		width: auto;
	}
}

@media screen and (max-width: 280px) {
	#buttonEncrypter,
	#buttonDesencrypter {
		width: 100%;
		padding: 4% 30%;
	}
}

body.darkMode {
	background: linear-gradient(to right, #0f1f33, #1e4575);
}

.darkMode main {
	background: #ffffff05;
	box-shadow: 0 0 20px #00000012;
}

.darkMode #textArea {
	border-radius: 10px;
	color: #ffffff;
	background: #00000033;
}

.darkMode #textArea:focus-visible {
	outline: #335f97 3px solid;
}

.darkMode .textAreaWarning {
	width: 100%;
	text-align: center;
	color: #ffffff33;
	font-weight: bold;
}

.darkMode #textArea::placeholder {
	color: #1b426a;
}

.darkMode #buttonEncrypter,
#buttonDesencrypter {
	box-shadow: 0px 5px 5px #0000001a;
}

.darkMode .viewerSection {
	border: 2px solid #ffffff1a;
	color: #dfdfdf;
	background-color: #00000000;
}

.darkMode .viewerSection img {
	mix-blend-mode: multiply;
	filter: saturate(2) drop-shadow(1px 2px 0px black);
}

.darkMode .encryptEmptyMessage p {
	color: #aaaaaa;
	font-weight: lighter;
}

.darkMode .encrypterText {
	color: #ffffff;
}

.darkMode #buttonCopy,
#buttonReset {
	box-shadow: 0px 5px 5px #0000001a;
}

.darkMode footer {
	font-size: 20px;
	background: #ffffff1a;
	color: #ffffff;
}
